Card {
  display: flex;
    flex-flow: wrap;
    margin-top: 50px;
    justify-content: space-evenly;
}

div[class=MuiPaper-root] {
  display: flex;
    flex-flow: wrap;
    margin-top: 50px;
    justify-content: space-evenly;
}
