.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}

.header a {
  text-decoration: none;
  color: black;
}

.header img {
  height: 100px;
  width: auto;
}

.header-link {
  height: 100px;
  display: flex;
  align-items: center;
}

.header p {
  font-size: 28px;
  font-weight: bolder;
  margin: 0;
}
